<div id="carouselExampleRide" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="http://localhost:8080/assets/img/godzila.jpg" class="carouselImg d-block" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="http://localhost:8080/assets/img/shazam.jpg" class="carouselImg d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="http://localhost:8080/assets/img/wonkaBig.jpg" class="carouselImg d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h1 class="lastestMovie">LASTEST MOVIE</h1>

<div class="lowerArea gap-5">
  {{#each movies}}
  <div class="LowerImg">
    <a href="http://localhost:8080/movieid/{{id}}">
    <img src="{{image_link}}" alt="">
    </a>
  </div>
  {{/each}}
</div>



