{{#if username}}
  <script>
    window.location.href = "http://localhost:8080/";
  </script>
{{/if}}

<div class="loginDiv">
  <form
    class="loginForm"
    id="login_form"
    method="post"
    action="http://localhost:8080/api/users/login"
  >
    <h1 class="text-center">M-review</h1>
    <div class="form-group mt-3 passDiv">
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        aria-describedby="emailHelp"
        placeholder="Enter your email"
        required
      />
    </div>
    <div class="form-group mt-3 passDiv">
      <input
        type="password"
        name="password"
        class="form-control"
        id="password"
        placeholder="Enter your password"
        required
      />
    </div>
    <div class="loginBtnContainer">
      <button type="submit" class="loginBtn">LOGIN</button>
    </div>
    <h5 class="loginOr">or</h5>
    <a href="http://localhost:8080/api/users/auth/google" class="btn btn-danger">Login with Google</a>
    <div class="signup">
      <span>Don't have an account?
        <a href="/signup">Sign Up</a>
      </span>
    </div>
  </form>
</div>
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"
></script>
<script src="http://localhost:8080/assets/js/login.js"></script>